
.wrapper{
	width: 400px;
	margin: 0 auto;

	height: 550px;
	text-align: center;
	color: white;
	padding-top:10px;

}

#screen{
	width: 90%;
	background-color: #b0b78e;
	margin: 0 auto;
	line-height: 2;
	text-align:right;
	padding: 0 10px 0 0;
	height: 100px;

}

.keypad{
	width: 90%;
	height: 330px;
	margin: 30px auto;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #eee;
	padding: 5px;
	border-radius: 5px;
}

.key{
	background-color: #404133;
	border: 3px solid black;
	border-radius: 3px;
	width: 60px;
	height: 50px;
	line-height: 50px;
	color: black;
	font-size: 1.5em;
}

.key:hover{
background-color: #303123;
	cursor: pointer; cursor: hand;
}

.special{
	background-color: #c8953c;
}

.special:hover{
	background-color: #b8852c;
}

#equals{
	width: 207px;
	background-color: white;
}

#equals:hover{
	background-color: red;
}
