var screen = document.getElementById("screen");


// Assign a click event to all divs with class of key and return the value of the div
$('div.key').click(function() {
    var text = $(this).text();

		// If the display is zero, do not add the number to it
		if(screen.innerText=="0.0"){screen.innerText=text;} else {screen.innerText+=text;}

	//
	if(text=="AC" ){screen.innerText="0.0"};
	if(text=="C"){screen.innerText = screen.innerText.slice(0, -2)};
	if(screen.innerText.length<=0){screen.innerText="0.0"};

	// Handle the multiply and divide keys as you can't evaluate those - replace with * and /
	if(text=="\xD7"){
		screen.innerText = screen.innerText.slice(0, -1); // Remove the &times; symbol
		screen.innerText+="*"
	};
	if(text=="\xF7"){
		screen.innerText = screen.innerText.slice(0, -1); // Remove the &divide; symbol
		screen.innerText+="/"
	};

	if(text=="\u2212"){
		screen.innerText = screen.innerText.slice(0, -1); // Remove the &divide; symbol
		screen.innerText+="-"
	};

	if(text=="EXP"){
		screen.innerText = screen.innerText.slice(0, -3); // Remove the &divide; symbol
		screen.innerText+="^"
	};

	if(text=="="){
		screen.innerText = screen.innerText.slice(0, -1); // Remove the = symbol
		var answer = eval(screen.innerText);
		if(screen.innerText!=0){screen.innerText = answer}else{screen.innerText = "0.0"};
	};
});
