input {
	
	height: 30px;
	font-style: bold;
}
.number {

	height: 30px;
	border-style: solid;
}
.plus {
	height: 90px;
	width: 40px;

	border-style: solid;
}
.other{

	width: 40px;
	height:30px;
	border-style: solid;
}
.clear{
	width:90px !important;
	}
table{
	border: 2px solid #ccc;
	border-radius: 10px;
	padding: 20px;
	padding-bottom: 30px;
	background: blue;
}

input.number:hover,input.plus:hover,input.other:hover {
	
	color: white;
	cursor:pointer;
}
input.number,input.plus,input.other{color:black;}
.over {
    background-color: black;
    width: 200px;
    padding: 25px;
    border: 2px solid ;
    margin-top: 30px;
    margin-left: 350px;
	z-index:10;

}